# Challenge Description

#### We have data about users who hit our site: whether they converted or not as well as some of their characteristics such as their country, the marketing channel, their age, whether they are repeat users and the number of pages visited during that session (as a proxy for site activity/time spent on site).

#### Our Goal:
1. Predict converrsion rate
2. Come up with recommendations for the  product team and the marketing team to improve conversion rate

### EDA

In [17]:
import warnings
warnings.simplefilter('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [10]:
data = pd.read_csv('day1.csv')
data.head(5)

  country  age  new_user source  total_pages_visited  converted
0      UK   25         1    Ads                    1          0
1      US   23         1    Seo                    5          0
2      US   28         1    Seo                    4          0
3   China   39         1    Seo                    5          0
4      US   30         1    Seo                    6          0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316200 entries, 0 to 316199
Data columns (total 6 columns):
country                316200 non-null object
age                    316200 non-null int64
new_user               316200 non-null int64
source                 316200 non-null object
total_pages_visited    316200 non-null int64
converted              316200 non-null int64
dtypes: int64(4), object(2)
memory usage: 14.5+ MB

In [12]:
data.describe()

                 age       new_user  total_pages_visited      converted
count  316200.000000  316200.000000        316200.000000  316200.000000
mean       30.569858       0.685465             4.872966       0.032258
std         8.271802       0.464331             3.341104       0.176685
min        17.000000       0.000000             1.000000       0.000000
25%        24.000000       0.000000             2.000000       0.000000
50%        30.000000       1.000000             4.000000       0.000000
75%        36.000000       1.000000             7.000000       0.000000
max       123.000000       1.000000            29.000000       1.000000

In [28]:
for column in data.columns:
    unique = data[column].unique()
    print(column,len(unique),unique[:5])

country 4 ['UK' 'US' 'China' 'Germany']
age 60 [25 23 28 39 30]
new_user 2 [1 0]
source 3 ['Ads' 'Seo' 'Direct']
total_pages_visited 29 [1 5 4 6 2]
converted 2 [0 1]

#### Thus, it seems like no missing value here and all the data type is correct. We can also find the conversion rate of  entire uses is 3%. Next, we would like to build the model to predict if user will convert.

In [30]:
# split train & test set
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data['country':'total_pages_visited'], data['converted'], test_size=0.33)

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [country] of <class 'str'>